<section class="tt-tl">
  <!-- region table filter -->
  <section class="tt-tl-ft" [ngClass]="{'tt-disabled': loading()}">
    <section class="tt-tl-ftl">
      <ng-content select="[filter]"></ng-content>
    </section>
    <section class="tt-tl-ftr">
      <ng-container *ngIf="tableSetting?.showSearch">
        <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon" (click)="onClickSearch()">
          <mat-icon aria-hidden="false" matTooltip="Search" matTooltipPosition="above" aria-label="Search" fontIcon="search"></mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="tableSetting?.showDefaultBtn">
        <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon" (click)="onClickReset()">
          <mat-icon aria-hidden="false" matTooltip="Reset" matTooltipPosition="above" aria-label="Reset" fontIcon="search_off"></mat-icon>
        </button>
        <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon" (click)="onClickRefresh()">
          <mat-icon aria-hidden="false" matTooltip="Refresh" matTooltipPosition="above" aria-label="Refresh" fontIcon="refresh"></mat-icon>
        </button>
      </ng-container>
      <ng-content select="[filter-right]"></ng-content>
    </section>
  </section>
  <!-- region table -->
  <section class="tt-tl-tb" [style]="'overflow: ' + tbStyleLoading() + ';'">
    <ng-content select="[table]"></ng-content>
    <ng-container *ngIf="loading()" [ngTemplateOutlet]="loadingTemp"></ng-container>
  </section>
  <!-- region bottom table -->
   <section class="tt-tl-fo">
    <div class="tt-tl-pag">
      <ng-content select="[pagination]"></ng-content>
    </div>
    <div class="tt-tl-brfo">
      <ng-content select="[button-right-ft]"></ng-content>
    </div>
  </section>
</section>

<ng-template #loadingTemp>
  <div class="tt-tl-ld">
    <div class="tt-tl-bgld">
    </div>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</ng-template>
