@import 'variable.scss';

.#{$mainCls} {
  @import 'components/index.scss';
  @import 'shared.scss';

  &-theme-primary {
    @import './override-mat.scss';

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px colorMainRgba(0.3);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollBarColor;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $scrollBarHoverColor;
    }

    // input::-webkit-outer-spin-button,
    // input::-webkit-inner-spin-button {
    //     -webkit-appearance: none;
    //     margin: 0;
    // }

    // input[type=number] {
    //     -moz-appearance: textfield;
    // }

    p, span, h1, h2, h3, h4, h5, h6 {
      margin: unset;
    }

    * {
      transition: all .3s ease;
      font-family: 'Metrophobic', 'KoHo', sans-serif;
      box-sizing: border-box;
      scroll-behavior: smooth;
    }

    ul {
      padding-inline-start: unset;
    }

    button {
      font-weight: inherit;
      cursor: pointer;
    }

    margin: unset;
    position: relative;
    overflow: auto;
    font-size: $mainFontSize;
    font-weight: $mainFontweight;
    z-index: inherit;
    height: 100vh;
    width: 100vw;
    background-color: $grey;

    @media only screen and (max-width: 500px) {

      &::-webkit-scrollbar {
        width: 4px;
      }

    }
  }

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
