$mainCls: "tt";
$scrollBarColor: #8ce6c8;
$scrollBarHoverColor: #17e9a3;

$mainTextColor: "#000";
$mainFontSize: 12px;
$mainFontweight: 400;

$mainColor: #1a457b;
$whiteColor: #fff;
$blackColor: #000;
$greenColor: #5BE9B9;
$purpleColor: #6E07F3;
$blueColor: #407BFF;
$lightBlueColor: #AEC7FF;
$black1f: #0000001f;
$black14: #00000014;
$blackd: #0000000d;
$black05: #383838;
$grey: #999999;
$tableHeaderBackgroundColor: #D9D9D9;

$xxxLaggerFontSize: 64px;
$xxLaggerFontSize: 48px;
$xLaggerFontSize: 32px;
$laggerFontSize: 24px;
$mediumFontSize: 16px;
$smallFontSize: 8px;

$sideBarWidth: 200px;
$headerHeight: 70px;

:root {
  --scroll-bar-color: #8ce6c8;
  --scroll-bar-hover-color: #17e9a3;

  --main-text-color: #000;
  --main-font-size: 12px;
  --main-font-weight: 400;

  --main-color: #1a457b;
  --white-color: #fff;
  --black-color: #000;
  --green-color: #5BE9B9;
  --purple-color: #6E07F3;
  --blue-color: #407BFF;
  --light-blue-color: #AEC7FF;
  --black-1f: #0000001f;
  --black-14: #00000014;
  --black-d: #0000000d;
  --black-05: #383838;
  --grey: #999999;

  --xxx-lagger-font-size: 64px;
  --xx-lagger-font-size: 48px;
  --x-lagger-font-size: 32px;
  --lagger-font-size: 24px;
  --medium-font-size: 16px;
  --small-font-size: 8px;

  --side-bar-width: 200px;
  --header-height: 70px;
  --mdc-filled-button-container-color: #ED0008;
}
