<header class="tt-hd">
  <mat-toolbar class="!bg-transparent !m-auto">
    <button mat-icon-button (click)="onClickMenuBtn()">
      <mat-icon aria-hidden="false" aria-label="Menu" fontIcon="menu"></mat-icon>
    </button>
    <span>CMS</span>
    <span class="flex-auto"></span>
    <a mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon"
      target="_self" matTooltip="trinhthanhtung1010@gmail.com" matTooltipPosition="above"
      href="mailto:trinhthanhtung1010@gmail.com?Subject=New%20Friend&body=Hi!%20I%20saw%20you%20on%20your%20portfolio.">
      <mat-icon aria-hidden="false" aria-label="Chat" fontIcon="chat"></mat-icon>
    </a>
    <button mat-icon-button aria-label="Example icon-button with share icon" matTooltip="Social Network" matTooltipPosition="above"
      (click)="onOpenAddProductDialog()">
      <mat-icon aria-hidden="false" aria-label="Group Add" fontIcon="group_add"></mat-icon>
    </button>
  </mat-toolbar>
</header>
