<header class="tt-hd">
  <mat-toolbar class="!bg-transparent !m-auto">
    <button mat-icon-button (click)="onClickMenuBtn()">
      <mat-icon aria-hidden="false" aria-label="Menu" fontIcon="menu"></mat-icon>
    </button>
    <span>CMS</span>
    <span class="flex-auto"></span>
    <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon aria-hidden="false" aria-label="Chat" fontIcon="chat"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon aria-hidden="false" aria-label="Group Add" fontIcon="group_add"></mat-icon>
    </button>
  </mat-toolbar>
</header>
