<h2 mat-dialog-title class="!flex !justify-between !items-center !gap-[10px] !p-[10px]">
  <p>
    This Is My Social Network. Let Connect
  </p>
  <mat-icon aria-hidden="false" fontIcon="sentiment_very_satisfied"></mat-icon>
</h2>
<mat-dialog-content class="relative">
  <mat-list class="!gap-[10px]">
    <mat-list-item class="!p-[unset]">
      <a mat-icon-button class="!flex !justify-start !items-center !gap-[10px] !p-[10px] !h-[50px] !w-[100%]"
        target="_blank" href="https://www.facebook.com/trinh.thanhtung.967">
        <img class="h-[50px]" src="https://www.svgrepo.com/show/521656/facebook-messenger.svg" alt="fb">
        <p class="">facebook</p>
      </a>
    </mat-list-item>
    <mat-list-item class="!p-[unset]">
      <a mat-icon-button class="!flex !justify-start !items-center !gap-[10px] !p-[10px] !h-[50px] !w-[100%]"
        target="_blank" href="https://www.instagram.com/trinhthanhtung1010/">
        <img class="h-[50px]" src="https://www.svgrepo.com/show/521711/instagram.svg" alt="ista">
        <p>instagram</p>
      </a>
    </mat-list-item>
    <mat-list-item class="!p-[unset]">
      <a mat-icon-button class="!flex !justify-start !items-center !gap-[10px] !p-[10px] !h-[50px] !w-[100%]"
        target="_blank" href="https://www.linkedin.com/in/tung-trinh-frontend">
        <img class="h-[50px]" src="https://www.svgrepo.com/show/521725/linkedin.svg" alt="ldin">
        <p>linkedin</p>
      </a>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
